.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.tooltip-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "solar-measure solar-measure" "temp wind";
  z-index: -100;
}
.tooltip-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solar-measure {
  grid-area: solar-measure;
}

.temp {
  grid-area: temp;
}

.wind {
  grid-area: wind;
}

.solar-grid {
  text-align: center;
}
.x-axis line,
.x-axis path {
  stroke: #fff;
}
.legend-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-label {
  margin-right: 0.5em;
}
.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 80%;
  text-align: justify;
}
